.achievements{
   background-color: white;
   display: flex;
   justify-content:center;
   gap:193px;
   padding-top: 153px;
   padding-bottom: 148px;
   &__title{
      font-size: 48px;
      width: 423px;
      
   }
   &__subtitle{
      font-size: 16px;

   }

   &__item-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
   }

   &__item{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 10px;
   }

   &__img{
      grid-column: 1;
      grid-row: 1;
   }

   &__num{
      grid-column: 2;
      grid-row: 1;
   }

   &__description{
      grid-column: 2;
      font-size: 16px;
      padding-top: 20px;
      grid-row: 1;
      
   }
   
   
}