.footer{
   background-color: #263640;
   font-family: 'PFAgoraSansPro';
   width: 100vw;
   height: 280px;
   &__logo{
      margin: 60px 135px;
   }

   &__extra-img{
      position: absolute;
      right: 0;
   }

   &__pages-container{
      margin: auto 135px;
      display: flex;
      gap:24px;
      font-size: 22px;
   }

   &__link{
      text-decoration: none;
      color: white;
   }
}