.partners{
   font-family: 'PFAgoraSansPro';
   background-color: white;
   padding-bottom: 150px;
   
   &__title{
      font-size: 32px;
      
      text-align: center;
   }

   &__container{
      display: flex;
      justify-content: space-between;
      margin: auto 135px;
      margin-top: 47px;
      
   }

   &__logo{
      padding: 32px 37px;
         box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   }
}